.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}

/* Setup div class "controlsSection" to fall into 4 columns */
.ControlsSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

/* tableSection div should only be as wide as its content, the modalSection div should fit itself to the right of tableSection*/
.tableSection {
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
}

.modalSection {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

/* show pointer on engineCell */
.engineCell {
  cursor: pointer;
}